$font-family:  "Roboto Condensed", sans-serif;

$background-color-secondary: #141414;

$mobile-max-width: 480px;
$tablet-min-width: 481px;
$tablet-max-width: 768px;
$desktop-min-width: 769px;

$font-size-big: 17px;
$font-size-normal: 15px;
$font-size-small: 13px;

// Для высокоуровневых экранов, таких как Retina:
// @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { ... }
